.sidebar {
    width: 80px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    border:#555;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.sidebar a {
    text-decoration: none;
    color: rgb(238, 238, 238);
    padding: 10px;
    width: 100%;
    text-align: center;
    margin: 5px 0;
}

.sidebar a.active {
    background-color: #555;
}

.sidebar i {
    font-size: 24px;
    margin-bottom: 5px;
}

.app-container {
    display: flex;
}

.content-container {
    flex: 1;
    padding: 20px;
}
